body {
    background-color: #000;
}

ul {
    list-style-type: none;
    padding: 0;
}

.good {
    color: #0f0;
}

.bad {
    color: #f00;
}

.speech-feedback {
    opacity: 1;     
    -webkit-transition: opacity .8s ease-in-out;
    -moz-transition: opacity .8s ease-in-out;
    transition: opacity .8s ease-in-out;

    line-height: 48px;
    min-height: 48px;
}

.speech-feedback * {
    vertical-align: middle;
}

.speech-feedback span {
    font-size: 3em;
    color: #fff;
    min-height: 70px;
}

.speech-feedback img {
    width: 40px;
    height: 40px;
}

.hidden {
    opacity: 0;
}
