body {
    background-color: #000;
    padding-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.good {
    color: #0f0;
}

.bad {
    color: #f00;
}

.speech-feedback {
    opacity: 1;
    -webkit-transition: opacity .8s ease-in-out;
    -moz-transition: opacity .8s ease-in-out;
    transition: opacity .8s ease-in-out;

    line-height: 48px;
    min-height: 48px;
}

.speech-feedback * {
    vertical-align: middle;
}

.speech-feedback span {
    font-size: 3em;
    color: #fff;
    min-height: 70px;
}

.speech-feedback img {
    width: 40px;
    height: 40px;
}

.hidden {
    opacity: 0;
}

.panel {
    padding: 16px;
    height: 400px;
    min-height: 400px;
    overflow: hidden;
    background-color: transparent;
    color: #fff;
}

.thumbnail {
    width:100px;
    height:100px;
}

/*timetable*/
.timetable aside {
    font-size:11px;
    width: 10%;
}
.timetable section {
    width: 90%;
    padding: 0!important;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
}
.timetable aside li {
    padding: 0 15px;
    background-color: grey;
    height: 30px
}
.timetable time li {
    height: 30px
}
.timetable .time-entry {
    height: 30px
}
.timetable ul.room-timeline li {
    background-color: grey
}
.timetable ul.room-timeline li:nth-of-type(odd) {
    background-color: 	#A9A9A9
}
pre {
  background-color: 	black;
  color: white;
  font-size: 14px;

}
